<li>
  Manufacturer: <%= car.manufacturer.name %>,
  Color: <%= car.color %>,
  Year: <%= car.year %>,
  Mileage: <%= car.mileage %>,
  Condition (Expert Evaluation): <%= car.condition %>
  <% unless car.description.empty? %>
    <br>
    Description: <%= car.description %>
  <% end %>
</li>
